# Created by .gitignore support plugin (hsz.mobi)
.*.swp
.*.swo
node_modules/
coverage/
.coverage
npm-debug.log
build/
dist/
.npm
.DS_Store
frontend/.cache/
frontend/docs/
docker/logs/
backend/src/edusign_webapp.egg-info/
backend/venv/
backend/.coverage
backend/htmlcov/
__pycache__
.env
users-env
config-current/
environment-current
docker/test-idp/ldap/users.ldif
test-results/
playwright-report/
blob-report/
playwright/
