# Created by .gitignore support plugin (hsz.mobi)
.*.swp
.*.swo
node_modules/
coverage/
npm-debug.log
build/
dist/
.npm
.DS_Store
frontend/.cache/
frontend/docs/
docker/logs/
backend/src/edusign_webapp.egg-info/
backend/venv/
backend/.coverage
__pycache__
.env
