setuptools>=69.5.1
Flask==3.0.3
marshmallow==3.21.1
Flask-Babel==4.0.0
requests==2.31.0
Flask-Mailman==1.0.0
boto3==1.34.86
flask-redis==0.4.0
flask-cors==4.0.0
flask-misaka==1.0.1
reportlab<4.0.0
pyHanko==0.23.2
PyMuPDF==1.24.2
pytz>=2024.1
ocrmypdf==16.2.0
PyYAML==6.0.1
cryptography==43.0.1
fakeredis==2.21.3
signxml==3.2.2
pygments==2.17.2
chardet==5.2.0
