setuptools>=50.3.2
Flask==2.3.3
marshmallow==3.20.1
Flask-Babel==4.0.0
requests==2.31.0
Flask-Mailman==1.0.0
boto3==1.29.6
flask-redis==0.4.0
flask-cors==4.0.0
flask-misaka==1.0.0
reportlab<4.0.0
pyHanko==0.21.0
PyMuPDF==1.23.6
pytz>=2023.3
ocrmypdf==15.4.3
PyYAML==6.0.1
cryptography==41.0.5
fakeredis==2.20.0
