-r requirements.txt
pytest==8.3.5
coverage==7.6.12
pytest-cov==6.0.0
mock==5.2.0
WebTest==3.0.4
isort==6.0.1
black==25.1.0
mypy==1.15.0
moto[s3]==5.1.1
click==8.1.8
charset_normalizer==3.4.1
Jinja2==3.1.6
idna==3.10
cffi==1.17.1
setuptools_rust==1.10.2
certifi==2025.1.31
