@import "./variables.scss";

#dnd-arrow-up {
  width: 35px;
  height: 35px;
  background-image: url(../../images/dragndrop.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
  display: inline-block;
}

#dnd-area-head-1 {
  margin-top: 1rem;
  font-weight: 400;
}

#dnd-area-head-2 {
  margin-top: 1rem;
}

#dnd-area-head-3 {
  margin-top: 1rem;
  font-weight: 400;
  border: solid $darker-grey 2px;
  border-radius: 3px;
  width: 8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#edusign-dnd-wrapper {
  flex: none;
  display: flex;
  align-items: top;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

#edusign-dnd-area {
  flex: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 12rem;
  width: 65%;
  border: solid $darker-grey;
  border-radius: 5px;
  border-width: 1px;
  cursor: pointer;
}

#edusign-dnd-area-receiving {
  flex: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12rem;
  width: 65%;
  border: dashed $dark-green;
  border-radius: 5px;
}

#dnd-message-foot,
#dnd-message-dropping {
  flex: none;
}

#dnd-message-head {
  flex: none;
  margin-top: 2rem;
}
