@import "./variables.scss";

#edusign-dnd-wrapper {
  display: flex;
  align-items: top;
  justify-content: center;
  width: 100%;
  height: 10rem;
  text-align: center;
}

#edusign-dnd-area {
  flex: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  width: 25rem;
  border: dashed #dddddd;
  border-radius: 5px;
}

#edusign-dnd-area-receiving {
  flex: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  width: 30rem;
  border: dashed #dddddd;
  border-radius: 5px;
}

#dnd-message,
#dnd-message-dropping {
  flex: auto;
}
