@import "./variables.scss";

#edusign-dnd-wrapper {
  flex: none;
  display: flex;
  align-items: top;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

#edusign-dnd-area {
  flex: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 12rem;
  width: 65%;
  border: solid $darker-grey;
  border-radius: 5px;
  border-width: 1px;
  cursor: pointer;
}

#edusign-dnd-area-receiving {
  flex: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12rem;
  width: 65%;
  border: dashed $dark-green;
  border-radius: 5px;
}

#dnd-message-foot,
#dnd-message-dropping {
  font-size: 2rem;
  flex: none;
}

#dnd-message-head {
  font-size: 1.5rem;
  flex: none;
}
