@import "./variables.scss";

.doc-flex-container {
  padding: 0.3rem;
  flex: none;
  display: flex;
  flex-flow: row wrap;
  min-height: 3rem;
  min-width: 80%;
  align-items: center;
  justify-content: left;

  .doc-selector-flex-item {
    flex: none;
    width: 2rem;
  }

  .name-flex-item {
    flex: 5 0 auto;
  }

  .message-flex-item {
    flex: none;
    margin-left: 1rem;
    color: $error-red;
  }

  .size-flex-item {
    flex: none;
    margin-right: 1rem;
    color: $darker-dark-grey;
  }

  .spinner-flex-item,
  .spinning-flex-item {
    flex: none;
    width: 5rem;
  }

  .button-preview-flex-item,
  .button-remove-flex-item,
  .button-retry-flex-item,
  .button-sign-flex-item {
    flex: none;
    button {
      width: 4rem;
      margin-left: 1rem;
    }
  }

  .button-signed-flex-item {
    flex: none;
    button {
      width: 9rem;
      margin-left: 1rem;
    }
  }
}

.doc-flex-container-sm {
  margin-top: 1.5rem;
  padding: 0.2rem;
  flex: none;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  align-items: flex-start;

  .doc-container-first-row,
  .doc-container-second-row,
  .doc-container-third-row {
    margin-bottom: 0.5rem;
    flex: none;
    display: flex;
    justify-content: flex-start;

    .doc-selector-flex-item {
      flex: none;
      width: 2rem;
    }

    .message-flex-item {
      color: $error-red;
    }

    .size-flex-item {
      flex: none;
      margin-right: 1rem;
      color: $darker-dark-grey;
    }

    .spinner-flex-item,
    .spinning-flex-item {
      flex: none;
      width: 5rem;
    }

    .button-preview-flex-item,
    .button-remove-flex-item,
    .button-retry-flex-item,
    .button-sign-flex-item {
      flex: none;
      button {
        width: 4rem;
        margin-left: 1rem;
      }
    }

    .button-signed-flex-item {
      flex: none;
      button {
        width: 9rem;
        margin-left: 1rem;
      }
    }
  }
}

#adjust-vertical-space {
  flex: 1 0 0;
}

#footer-negative-margin {
  flex: none;
  height: 3rem;
}

button#button-sign {
  flex: none;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

div.failed-loading,
div.failed-signing,
div.failed-preparing {
  background-color: $light-orange;
}

div.selected {
  background-color: $light-blue;
}
