@import "./variables.scss";

.doc-flex-container {
  display: flex;
  flex-direction: row;
  min-height: 3rem;
  align-items: center;
  justify-content: left;
}

.doc-flex-container > .name-flex-item {
  flex: auto;
}

.doc-flex-container > .size-flex-item {
  flex: initial;
  width: 5rem;
}

.doc-flex-container > .type-flex-item {
  flex: initial;
  width: 7rem;
}

.doc-flex-container > .spinner-flex-item {
  flex: initial;
  width: 2rem;
}

.doc-flex-container > .loading-flex-item,
.doc-flex-container > .signing-flex-item {
  flex: initial;
  width: 18rem;
}

.doc-flex-container > .button-preview-flex-item,
.doc-flex-container > .button-remove-flex-item {
  flex: initial;
  width: 5rem;
}

.doc-flex-container > .button-sign-flex-item {
  flex: initial;
  width: 4rem;
}

.doc-flex-container > .button-download-flex-item {
  flex: initial;
  width: 6rem;
}

.doc-flex-container > .button-signed-flex-item {
  flex: initial;
  width: 9rem;
}

.pdf-navigation {
  width: 100%;
  display: inline-block;
}
