@import "./variables.scss";

.doc-flex-container-local {
  border: $orange-opaque solid 2px;
  border-radius: 3px;
  margin-bottom: 0.3rem;
  min-height: 3rem;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;

  .doc-flex-container {
    padding: 0.5rem;
    flex: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: left;

    .doc-selector-flex-item {
      flex: none;
      width: 2rem;
    }

    .name-flex-item {
      flex: 5 1 auto;
      margin: 0.5rem 0;
    }

    .message-flex-item {
      flex: none;
      margin-left: 1rem;
      margin-right: 1rem;
      color: $error-red;
    }

    .size-flex-item {
      flex: none;
      margin-right: 1rem;
      color: $darker-dark-grey;
    }

    .date-flex-item {
      flex: none;
      margin-right: 1rem;
      color: $darker-dark-grey;
    }

    .doc-manager-buttons {
      flex: 3 1 auto;
      display: flex;
      justify-content: flex-end;

      .spinner-flex-item {
        flex: none;
        width: 2rem;
        margin-bottom: -2rem;
      }
      .spinning-flex-item {
        flex: none;
        width: 5rem;
      }
      .button-forced-preview-flex-item,
      .button-preview-flex-item,
      .button-resend-flex-item,
      .button-remove-flex-item,
      .button-retry-flex-item,
      .button-sign-flex-item,
      .button-clear-flex-item,
      .button-dlall-flex-item,
      .button-download-flex-item,
      .button-create-template-flex-item,
      .button-decline-flex-item,
      .button-skip-flex-item,
      .button-edit-invitations-flex-item,
      .button-multisign-flex-item {
        flex: none;
        button {
          padding: inherit 0.5rem;
        }
      }
    }
  }
}

.button-forced-preview-flex-item,
.button-preview-flex-item,
.button-resend-flex-item,
.button-remove-flex-item,
.button-retry-flex-item,
.button-sign-flex-item,
.button-clear-flex-item,
.button-dlall-flex-item,
.button-download-flex-item,
.button-create-template-flex-item,
.button-decline-flex-item,
.button-skip-flex-item,
.button-edit-invitations-flex-item,
.button-multisign-flex-item {
  margin-right: 0.5rem;
}

.doc-flex-container-sm {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  padding: 0.5rem;
  border: $orange-opaque solid 2px;
  border-radius: 3px;
  width: 100%;
  align-items: flex-start;

  .doc-container-button-row {
    line-height: 2.5rem;
    margin-bottom: 0.5rem;
    flex: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    .button-forced-preview-flex-item,
    .button-preview-flex-item,
    .button-resend-flex-item,
    .button-remove-flex-item,
    .button-retry-flex-item,
    .button-sign-flex-item,
    .button-clear-flex-item,
    .button-dlall-flex-item,
    .button-download-flex-item,
    .button-create-template-flex-item,
    .button-decline-flex-item,
    .button-skip-flex-item,
    .button-edit-invitations-flex-item,
    .button-multisign-flex-item {
      flex: none;
      button {
        padding: inherit 0.5rem;
      }
    }
  }

  .doc-container-md-row,
  .doc-container-msg-row {
    line-height: 1.4rem;
    margin-bottom: 0.5rem;
    flex: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .doc-selector-flex-item {
      flex: none;
      width: 2rem;
    }

    .message-flex-item {
      color: $error-red;
    }

    .size-flex-item {
      flex: none;
      margin-right: 1rem;
      color: $darker-dark-grey;
    }

    .date-flex-item {
      flex: none;
      margin-right: 1rem;
      color: $darker-dark-grey;
    }

    .spinner-flex-item {
      flex: none;
      width: 2rem;
      margin-bottom: -2rem;
    }
    .spinning-flex-item {
      flex: none;
      width: 5rem;
    }
  }
}

.doc-container-info-row-sm {
  line-height: 1.4rem;
}

.doc-container-info-row-lg,
.doc-container-info-row-sm {
  flex: none;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  line-height: 1.2rem;

  .info-row-label {
    color: $darker-dark-grey;
    font-size: 0.8rem;
  }

  .info-row-items {
    .info-row-item {
      margin-left: 0.3rem;
      font-size: 0.8rem;
      display: inline-block;
    }
  }
  .info-row-item {
    font-size: 0.8rem;
    display: inline-block;
  }
}

.dummy-button-dlall-flex-item-lg,
.dummy-button-clear-flex-item-lg,
.dummy-button-sign-flex-item-lg {
  height: 5rem;
}

.dummy-button-dlall-flex-item-sm,
.dummy-button-clear-flex-item-sm,
.dummy-button-sign-flex-item-sm {
  height: 2rem;
}

#adjust-vertical-space {
  flex: 1 0 0;
}

#footer-negative-margin {
  flex: none;
  height: 3rem;
}

#global-buttons-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  #button-dlall-wrapper,
  #button-clear-wrapper,
  #button-sign-wrapper {
    flex: none;
    margin: 1rem;
  }
}

div.failed-loading,
div.failed-signing,
div.failed-preparing {
  background-color: $light-orange;
}

div.selected {
  background-color: $light-blue;
}

.multisign-container-lg,
.multisign-container-sm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .owned-multisign-container,
  .invited-multisign-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

section#panel-lg {
  div#main-content {
    fieldset.local-monosign-container,
    fieldset.local-template-container,
    fieldset.owned-multisign-container,
    fieldset.invited-multisign-container {
      width: 80%;
    }
  }
}

section#panel-sm {
  div#main-content {
    fieldset.local-monosign-container,
    fieldset.local-template-container,
    fieldset.owned-multisign-container,
    fieldset.invited-multisign-container {
      width: 100%;
    }
  }
}

fieldset.local-monosign-container,
fieldset.local-template-container,
fieldset.owned-multisign-container,
fieldset.invited-multisign-container {
  border: $darker-grey solid 1px;
  border-radius: 3px;
  padding-top: 0.6rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-bottom: 0.4rem;
  margin-bottom: 1.5rem;

  legend {
    width: auto;
    font-size: 0.8rem;
    font-weight: bold;
    color: $darker-dark-grey;
    float: unset;
  }
}

div.invited-unauthn-title {
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

div.doc-info-line {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  .info-line {
    padding-right: 1rem;
  }
}

p.docset-legend-title {
  font-size: 0.8rem;
  color: #777;
  margin-bottom: 6px;
}
