@import "./variables.scss";

.pdf-navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    cursor: pointer;
    text-decoration: none;
  }
  .go-to-first-page,
  .go-to-last-page,
  .go-to-prev-page,
  .go-to-next-page {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
  }
  .inactive {
    color: #999;
  }
}

.modal-body {
  align-self: center;
}

#mock-disabled-confirm-button {
  cursor: default;
  font-size: 1rem;
  line-height: 1.5;
  border: solid 1px;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
}
