@import "./variables.scss";

section#edusign-banner {
  flex: none;
  background-color: $white;
  display: flex;
  margin: 1rem;
}

#edusign-logo {
  width: 160px;
  height: 50px;
  background-image: url(../../images/eduSign_logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
  flex: 0 0 auto;
}

#sunet-logo {
  width: 50px;
  height: 50px;
  background-image: url(../../images/sunet_gray_logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
  display: inline-block;
}

#header-right {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

#name-in-header {
  color: $dark-gray;
  margin-right: 1rem;
}

#clear-in-header {
  margin-left: 1rem;
  margin-right: 2rem;
  cursor: pointer;
}

@media (max-width: 414px) {
  #edusign-logo {
    width: 105px;
    height: 36px;
  }
}
