@import "./variables.scss";

section#edusign-banner-lg {
  flex: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  div#logos-and-name {
    background-color: $white;
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    margin: 1rem;

    #edusign-logo {
      background-size: contain;
      background-repeat: no-repeat;
      margin: 0;
      flex: 0 0 auto;

      img {
        height: 50px;
        width: 201px;
      }
    }

    #header-right {
      flex: 0 0 auto;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;

      #sunet-logo {
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0;
        display: inline-block;

        img {
          height: 50px;
          width: 50px;
        }
      }

      #name-in-header {
        margin-right: 1rem;
      }

      #logout-button-container {
        padding: 1rem;
      }
    }
  }
}

section#edusign-banner-sm {
  flex: none;
  background-color: $white;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  #edusign-logos {
    flex: none;
    display: flex;
    justify-content: space-between;

    #edusign-logo {
      background-size: contain;
      background-repeat: no-repeat;
      margin: 0;
      flex: 0 1 auto;

      img {
        height: 50px;
        width: 160px;
      }
    }

    #sunet-logo {
      background-size: contain;
      background-repeat: no-repeat;
      margin: 0;
      display: inline-block;

      img {
        height: 50px;
        width: 50px;
      }
    }
  }

  #name-and-clear-in-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 0.5rem;

    #name-in-header {
      display: flex;
      flex-wrap: wrap;
      line-height: 1.5rem;
      justify-content: space-between;
      width: 100%;

      #signing-with-span {
        align-self: center;
      }
    }

    #sep-in-header {
      display: none;
    }

    #logout-button-container {
      padding-left: 1rem;
    }
  }
}

#signing-with-span {
  color: $darker-dark-grey;
}
