@import "./variables.scss";

.invitation-fields {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  border: 1px solid $orange-opaque;
  border-radius: 2px;

  .invitee-form-row {
    flex: none;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 1rem;
    align-items: center;

    .invitee-form-name,
    .invitee-form-email {
      flex: 1 0 auto;
      margin-right: 1rem;
    }
  }
  .invitee-form-dismiss {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row-reverse;

    button {
      flex: none;
      color: $orange-highlight;
    }
  }

  .field-error {
    display: inline-block;
    color: $error-red;
    margin-left: 2rem;
  }
}

@media (max-width: 1200px) {

  .invitation-fields {
    margin-left: 0;
    margin-right: 0;

    .invitee-form-row {
      padding-left: 2px;
      margin: 0;

    }
  }
}
