@import "./variables.scss";

.invited-multisign-request {
  padding: 0.3rem;
  flex: none;
  display: flex;
  flex-flow: row wrap;
  min-height: 3rem;
  min-width: 80%;
  align-items: center;
  justify-content: left;

  .name-flex-item {
    flex: 5 0 auto;
    margin-right: 1rem;
  }

  .size-flex-item {
    flex: none;
    margin-right: 1rem;
    color: $darker-dark-grey;
  }

  .owner-flex-item {
    flex: none;
    margin-right: 1rem;
  }
}

.invited-multisign-request-sm {
  margin-top: 0.5rem;
  padding: 1rem 0.2rem 0.2rem;
  flex: none;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  align-items: flex-start;
  border-radius: 10px;
  background-color: $lightest-gray;

  .doc-container-first-row,
  .doc-container-second-row,
  .doc-container-third-row {
    margin-bottom: 0.5rem;
    flex: none;
    display: flex;
    justify-content: flex-start;

    .size-flex-item {
      flex: none;
      margin-right: 1rem;
      color: $darker-dark-grey;
    }
  }
}
