@import "./variables.scss";

.invitation-multisign {
  padding-top: 0.5rem;
  padding-left: 1rem;
  display: flex;
  flex: none;
  min-height: 3rem;
  width: 100%;
  margin-bottom: 0.3rem;
  border: $orange-opaque solid 2px;
  border-radius: 3px;

  .invitation-multisign-request {
    flex: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    line-height: 1.5rem;

    .invitation-name-and-buttons-lg {
      flex: none;
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      .doc-selector-flex-item {
        flex: none;
        width: 2rem;
      }

      .button-dummy-flex-item {
        flex: none;
        width: 8rem;
      }

      .name-flex-item {
        flex: 5 1 auto;
      }

      .message-flex-item {
        flex: none;
        margin-left: 1rem;
        color: $error-red;
      }

      .size-flex-item {
        flex: none;
        margin-right: 1rem;
        color: $darker-dark-grey;
      }

      .spinner-flex-item {
        flex: none;
        width: 2rem;
        margin-bottom: -2rem;
      }
      .spinning-flex-item {
        flex: none;
        width: 5rem;
      }

      .button-preview-flex-item,
      .button-remove-flex-item,
      .button-resend-flex-item,
      .button-skip-flex-item,
      .button-download-flex-item,
      .button-decline-flex-item,
      .button-dummy-flex-item,
      .button-forced-preview-flex-item {
        flex: none;
      }

      .owned-container-buttons-lg {
        flex: 3 1 auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: wrap;
      }
    }

    .invitation-name-and-buttons-sm {
      flex: none;
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      .doc-selector-flex-item {
        flex: none;
        width: 2rem;
      }

      .button-dummy-flex-item {
        flex: none;
        width: 8rem;
      }

      .message-flex-item {
        color: $error-red;
      }

      .size-flex-item {
        flex: none;
        margin-right: 1rem;
        color: $darker-dark-grey;
      }

      .name-flex-item {
        flex: 1 2 auto;
        margin-right: 1rem;
      }

      .spinner-flex-item {
        flex: none;
        width: 2rem;
        margin-bottom: -2rem;
      }
      .spinning-flex-item {
        flex: none;
        width: 5rem;
      }

      .button-preview-flex-item,
      .button-forced-preview-flex-item,
      .button-remove-flex-item,
      .button-resend-flex-item,
      .button-download-flex-item,
      .button-decline-flex-item,
      .button-dummy-flex-item,
      .button-skip-flex-item{
        flex: none;
      }
      .owned-name-and-buttons {
        width: fit-content;
        flex: none;
        display: flex;
        flex-direction: column;

        .owned-container-name {
          flex: none;
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
        }
        .owned-container-buttons-sm {
          flex: none;
          display: flex;
          flex-wrap: wrap;
          line-height: 2.5rem;
        }
      }
    }
  }
}

.button-preview-flex-item,
.button-forced-preview-flex-item,
.button-remove-flex-item,
.button-resend-flex-item,
.button-download-flex-item,
.button-decline-flex-item,
.button-skip-flex-item {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.invitation-doc-name-label,
.invited-by-label,
.signed-invites-label,
.declined-invites-label,
.pending-invites-label {
  margin-right: 0.5rem;
  color: $darker-dark-grey;
  font-size: 0.8rem;
}

.invited-by,
.pending-invites,
.declined-invites,
.signed-invites {
  flex: none;
  margin-top: .2rem;
  margin-bottom: .2rem;
}

.owner-item {
  margin-left: 0.5rem;
  font-size: 0.8rem;
  display: inline-block;
}

.pending-invites-items {
  .pending-invite-item {
    margin-left: 0.5rem;
    font-size: 0.8rem;
    display: inline-block;
  }
}

.signed-invites-items {
  .signed-invite-item {
    margin-left: 0.5rem;
    font-size: 0.8rem;
    display: inline-block;
  }
}

.declined-invites-items {
  .declined-invite-item {
    margin-left: 0.5rem;
    font-size: 0.8rem;
    display: inline-block;
  }
}

div.failed-signing {
  background-color: $light-orange;
}

div.selected {
  background-color: $light-blue;
}
.multisign-container-sm {
  .invitation-multisign {
    background-color: $lightest-gray;
  }
}
