@import "./variables.scss";

html, body, div#root {
  height: 100%;
}

section#panel {
  margin: 2.5rem 9rem;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 90%;
}

div#main-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
