@import "./variables.scss";

section#panel {
  margin: 2.5rem 9rem;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

div#main-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
