@import "./variables.scss";

html,
body,
div#root {
  height: 100%;
  font-family: Helvetica, sans-serif;
}

section#panel-lg {
  margin: 2.5rem 9rem;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 90%;
}

section#panel-sm {
  margin: 7% 5% 0;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 90%;
}

div#main-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popover,
.tooltip {
  z-index: 999 !important;
}

.popover.on-modal,
.tooltip.on-modal {
  z-index: 99999 !important;
}

#contact-local-it-msg {
  margin-bottom: 1rem;
  font-weight: 400;
}

.form-group {
  margin-bottom: 1rem;
}
