@import "./variables.scss";

.notifications-area {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  color: transparent;
  background-color: transparent;
}

section#edusign-banner-lg {
  .notifications-area {
    min-height: 3rem;
    min-width: 80%;
    margin-bottom: 0.75rem;
    margin-left: 2rem;
    margin-right: 2rem;

    .notification.alert.alert-dismissible {
      max-width: 100%;
    }
  }
}

section#edusign-banner-sm {
  .notifications-area {
    min-height: 2rem;

    .notification.alert.alert-dismissible {
      max-width: 100%;
    }
  }
}

.alert.alert-dismissible {
  position: inherit;
  padding: 0 1rem;
  min-height: 2rem;
  max-width: 75%;
  border-radius: 5px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  &.alert-danger {
    color: $white;
    background-color: $error-red;
  }
  &.alert-success {
    color: $white;
    background-color: $dark-green;
  }
  & span {
    font-size: 1rem;
    width: 58%;
    max-width: 870px;
    margin: 0 auto;
  }
  & .close {
    position: inherit;
    font-size: inherit;
    padding: 0;
    margin: 0;
    height: auto;
    text-shadow: unset;
    &:hover {
      color: $orange-highlight;
    }
  }
}

@media (max-width: 823px) {
  .alert.alert-dismissible {
    & span {
      width: calc(80% - 2rem);
    }
  }
}

@media (max-width: 768px) {
  .alert.alert-dismissible {
    padding: 0.75rem 1rem 0.75rem 0.5rem;
    & span {
      width: calc(80% - 1.25rem);
    }
  }
}

@media (max-width: 568px) {
  .alert.alert-dismissible {
    & span {
      width: calc(100% - 1.25rem);
    }
  }
}
