@import "./variables.scss";

.owned-multisign {
  padding: 0.5rem;
  display: flex;
  flex: none;
  min-height: 3rem;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  border: $orange-opaque solid 2px;
  border-radius: 3px;

  .owned-multisign-remove {
    flex: none;
  }

  .owned-multisign-request {
    padding: 0.3rem;
    flex: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    line-height: 1.5rem;

    .name-flex-item {
      flex: 5 0 auto;
      margin-right: 1rem;
    }
  }
}

.owned-multisign-request-sm {
  margin-top: 0.5rem;
  padding: 1rem 0.2rem 0.2rem;
  flex: none;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  align-items: flex-start;
  border-radius: 10px;
  background-color: $lightest-gray;

  .doc-container-first-row,
  .doc-container-second-row,
  .doc-container-third-row {
    margin-bottom: 0.5rem;
    flex: none;
    display: flex;
    justify-content: flex-start;
  }
}

.pending-invites-title {
  flex: none;

  .pending-invites-label {
    color: $darker-dark-grey;
    font-size: 0.8rem;
  }
}

.pending-invites {
  flex: none;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-wrap: wrap;

  .pending-invite-item {
    margin-left: 1rem;
    flex: 0 0 auto;
    font-size: 0.8rem;
  }
}

.signed-invites-title {
  flex: none;

  .signed-invites-label {
    color: $darker-dark-grey;
    font-size: 0.8rem;
  }
}

.signed-invites {
  flex: none;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-wrap: wrap;

  .signed-invite-item {
    margin-left: 1rem;
    flex: 0 0 auto;
    font-size: 0.8rem;
  }
}

.button-resend-container,
.button-sign-container {
  flex: none;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;

  .button-resend-invitation,
  .button-sign-invitation {
    flex: none;
  }
}

.button-remove-invitation {

  button {
    border: none;
    font-size: 1.2rem;
  }
}
