@import "./variables.scss";

.owned-multisign {
  padding-top: .5rem;
  padding-left: 1rem;
  display: flex;
  flex: none;
  min-height: 3rem;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  border: $orange-opaque solid 2px;
  border-radius: 3px;

  .owned-multisign-request {
    flex: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    line-height: 1.5rem;

    .owned-name-and-buttons-lg {
      flex: none;
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      .name-flex-item {
        flex: 1 2 auto;
        margin-right: 1rem;
      }
      .owned-buttons {
        flex: 2 1 auto;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin: .5rem 0;

        .button-preview-container,
        .button-remove-container,
        .button-resend-container,
        .button-skip-container,
        .button-sign-container {
          flex: none;
        }
      }
    }

    .owned-name-and-buttons-sm {
      flex: none;
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      .name-flex-item {
        flex: 1 2 auto;
        margin-right: 1rem;
      }
      .owned-buttons {
        flex: 2 1 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-left: -1rem;
        margin-bottom: 0.5rem;

        .button-preview-container,
        .button-remove-container,
        .button-resend-container,
        .button-skip-container,
        .button-sign-container {
          flex: none;
          margin-top: .5rem;
        }
      }
    }
  }
}

.button-preview-invitation,
.button-remove-invitation {
  button {
    width: 5rem;
  }
}

.button-preview-invitation,
.button-remove-invitation,
.button-resend-invitation,
.button-skip-invitation,
.button-sign-invitation {
  margin-right: 0.5rem;;
  margin-left: 0.5rem;;
}

.owned-doc-name-label,
.signed-invites-label,
.pending-invites-label {
  margin-right: .5rem;
  color: $darker-dark-grey;
  font-size: 0.8rem;
}

.pending-invites {
  flex: none;
}

.pending-invites-items {

  .pending-invite-item {
    margin-left: .5rem;
    font-size: 0.8rem;
    display: inline-block;
  }
}

.signed-invites {
  flex: none;
}

.signed-invites-items {

  .signed-invite-item {
    margin-left: .5rem;
    font-size: 0.8rem;
    display: inline-block;
  }
}
