@import "./variables.scss";

.user-info-holder {
  display: flex;
  flex-direction: column;

  .user-attr-holder {
    display: flex;
    flex-direction: row;
    min-height: 2rem;

    .user-attr-name-holder {
      flex: none;
      min-width: 9rem;
    }
    .user-attr-value-holder {
      flex: none;

      .user-attr-value-list-holder {
        display: flex;
        flex-direction: column;

        .user-attr-value-list-item {
          flex: none;
          min-height: 1.5rem;
        }
      }
    }
  }
}
