<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8"/>
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA3ElEQVQ4y83SMUoEQRCF4a+1AwMjI5nIQJjME6iJYOABBPECgoGBzCFkTDb1DJp5Bw0MTRpBTFyMFzERtk2GZRGn2THRgqapqv4LXvXjryPAuKn3cZFZHQA+VG06il1+jrWQ3S46IAdPECGzErLH6jKdDpUQfyq+NvV64LDAveO6atMk9ujbwKiswR6OY0/7HssF/EawOZMQmAqMm3r+0fQ7VbVJ92uz3lJ3v8gO8Fk4u6UlngnulH3w3DugatMEV79xYuw0naAewG3hbc5IeUcO2wvbOPiQtf5FfAEKjDf+u4objAAAAABJRU5ErkJggg==">
   <title>eduSign</title>
    <script type="text/javascript">
        function submitForm() {
            var form = getElementById('form');
            form.submit();
        }
    </script>
 </head>
 <body onLoad="submitForm">
   <noscript>
     You need to enable JavaScript to run this app.
   </noscript>
   <form id="form" action={{ destinationUrl }}>
       <input type="hidden" name="Binding" value={{ binding }} />
       <input type="hidden" name="RelayState" value={{ relayState }} />
       <input type="hidden" name="EidSignRequest" value={{ signRequest }} />
   </form>
 </body>
</html>

