<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8"/>
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>eduSign</title>
    <script type="text/javascript">
        function submitForm() {
          document.getElementById('form').submit();
        }
        if (document.readyState === 'loading') {  // Loading hasn't finished yet
          document.addEventListener('DOMContentLoaded', submitForm);
        } else {  // `DOMContentLoaded` has already fired
          submitForm();
        }
    </script>
 </head>
 <body>
   <noscript>
     You need to enable JavaScript to run this app.
   </noscript>
   <form id="form" method="POST" action={{ destinationUrl }}>
       <input type="hidden" name="Binding" value={{ binding }} />
       <input type="hidden" name="RelayState" value={{ relayState }} />
       <input type="hidden" name="EidSignRequest" value={{ signRequest }} />
   </form>
 </body>
</html>

