<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/favicon.png">
    <style type="text/css">
html,
body {
  height: 100%;
  font-family: Helvetica, sans-serif;
  color: #455;
}
header {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-right: 100px;
  padding-left: 100px;
}
#edusign-logo {
  flex: none;
  width: 160px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
}
#sunet-logo {
  flex: none;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
}
#sunet-logo-img {
  width: 50px;
  height: auto;
}
#body {
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
}
#title {
  font-size: 2.5rem;
  margin-bottom: 30px;
}
#message {
  font-size: 1.5rem;
}
#footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 16px;
  border-top: 6px solid #ff4500;
  background-color: #f4f4f4;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 200px;
}
#copyright {
  flex: none;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: solid 1px transparent;
}
div#back-button-wrapper {
  margin-top: 35px;
}
a.back-button {
  padding: 0.5rem;
  text-decoration: none;
  background-color: white;
  border: 1px solid #28a745;
  color: #28a745;
  font-size: 1.1rem;
  border-radius: 3px;
  cursor: pointer;
}
a.back-button:hover {
  background-color: #28a745;
  color: white;
}
button {
  margin-top: 35px;
  padding: 1rem;
  background-color: white;
  border: 1px solid #28a745;
  color: #28a745;
  font-size: 1.1rem;
  border-radius: 3px;
  cursor: pointer;
}
button:hover {
  border: 1px solid #4ac967;
}
    </style>
    <style type="text/css" src="/assets/custom.css"></style>
    <title>eduSign</title>
  </head>
  <body>
    <div id="root" class="custom-root">
      <header>
        <div id="edusign-logo">
          <img src="/assets/app-logo.png" />
        </div>
        <div id="sunet-logo">
          <a href="{{ company_link }}">
            <img id="sunet-logo-img" src="/assets/company-logo.png" />
          </a>
        </div>
      </header>
      <section id="body">
        {% block body %}{% endblock %}
      </section>
      <footer id="footer">
        <div id="faq-and-lang">
          <div id="faq-link">
            {% block foot_link %}
            <a href="/faq">
              {% trans %}Help{% endtrans %}
            </a>
            {% endblock %}
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
