<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/favicon.png">
    <style type="text/css">
html,
body {
  height: 100%;
  font-family: Helvetica, sans-serif;
  color: #455;
  line-height: 1.5rem;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 3px;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,.125);
  background-color: rgba(0,0,0,.03);
}
#edusign-logo {
  flex: none;
  width: 160px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
  padding: .75rem 1.25rem;
}
#sunet-logo {
  flex: none;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
  padding: .75rem 1.25rem;
}
#sunet-logo-img {
  width: 40px;
  height: auto;
}
#main-title {
  text-align: center;
  font-size: 2.0rem;
  margin-bottom: 30px;
  line-height: 2.5rem;
}
#login {
  text-align: center;
}
footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#faq-and-lang {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#lang-selector,
#faq-link {
  padding: 1rem 2rem;
  cursor: pointer;
}
#faq-link a {
  color: inherit;
  text-decoration: none;
}
#app-version {
  padding: 1rem 2rem;
  font-size: .7rem;
  color: #999;
}
#lang-selector:hover,
#faq-link:hover {
  text-decoration: underline;
}

@media screen and (min-width: 901px) {
  #root {
    margin-top: 80px;
    margin-left: 20%;
    margin-right: 20%;
  }
  header {
    margin-bottom: 50px;
  }
  #body {
    padding-right: 150px;
    padding-left: 150px;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 900px) {
  #root {
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
  }
  header {
    margin-bottom: 40px;
  }
  #body {
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
  }
  h1 {
    margin-right: 2rem;
    margin-left: 2rem;
  }
  #md-content {
    margin-right: 2rem;
    margin-left: 2rem;
  }
}
    </style>
    {% block script %}{% endblock %}
    <style type="text/css" src="/assets/custom.css"></style>
    <title>eduSign</title>
  </head>
  <body>
    <div id="root" class="custom-root">
      <div id="container">
        <header>
          <div id="edusign-logo">
            <img src="/assets/app-logo.png">
          </div>
          <div id="sunet-logo">
            <a href="{{ company_link }}">
              <img id="sunet-logo-img" src="/assets/company-logo.png" />
            </a>
          </div>
        </header>
        <section id="body">
          {% block body %}{% endblock %}
        </section>
        <footer>
          <div id="app-version">
            {{ version }}
          </div>
          <div id="faq-and-lang">
            <div id="faq-link">
              {% block foot_link %}
              <a href="/faq">
                {% trans %}Help{% endtrans %}
              </a>
              {% endblock %}
            </div>
            <div id="lang-selector">
              <select name="lang-selector">
                {% for lang in langs.items() %}
                <option value="{{ lang[0] }}" {% if lang[0] == current_lang %}selected{% endif %}>{{ lang[1] }}</option>
                {% endfor %}
              </select
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script>
        window.onload = function() {

          {% block script_bottom %}{% endblock %}

          document.querySelector("#lang-selector select[name='lang-selector']").addEventListener('change', (e) => {
            e.preventDefault();
            var days = 365;
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            var cookie = `lang=${e.target.value}; expires=${date.toUTCString()}`;
            window.document.cookie = cookie;
            window.location.reload(true);
          });
        };
    </script>
  </body>
</html>

