<html>
<head>
</head>
<body>

<p>
{% trans inviter_name=inviter_name, inviter_email=inviter_email, document_name=document_name %}
This is to inform you that {{ inviter_name }} &lt;{{ inviter_email }}&gt;
has cancelled an invitation to digitally sign a document named "{{document_name}}".
{% endtrans %}
</p>

<p>
{% trans %}
This is an email from eduSign, a service for secure digital signatures, developed by Sunet.
{% endtrans %}
</p>
</body>
</html>
