
{% trans owner_name=owner_name, owner_email=owner_email, delegater_name=delegater_name, delegater_email=delegater_email, document_name=document_name %}
This is to inform you that {{ delegater_name }} <{{ delegater_email }}>
has delegated to you an invitation to digitally sign a document named "{{document_name}}"
originally invited by  {{ owner_name }} <{{ owner_email }}>.
{% endtrans %}

{% trans %}
This is an email from eduSign, a service for secure digital signatures, developed by Sunet.
{% endtrans %}

