{% extends "base-template.jinja2" %}

  {% block body %}
        <div id="title">
          {{ title }}
        </div>
        <div id="message">
          {{ message }}
        </div>
        <div id=button-back">
            <a href="" class="back-button" />
        </div>
        <div id=button-back">
            <a href="{{ back_link }}" class="back-button">{{ back_button_text }}</a>
        </div>
  {% endblock %}
