<html>
<head>
</head>
<body>

<p>
{% trans invited_email=invited_email, invited_name=invited_name, document_name=document_name %}
{{invited_name}} &lt;{{invited_email}}&gt; has signed the document "{{document_name}}".
{% endtrans %}
</p>
<p>
{% trans %}
This was the final reply to your invitation to sign this document. Please visit eduSign to finalize the signature process.
{% endtrans %}
<p>
<p>
{% trans %}
This is an email from eduSign, a service for secure digital signatures, developed by Sunet.
{% endtrans %}
</p>
</body>
</html>

