{% extends "base-md-template.jinja2" %}

    {% block script %}
    <script src="https://service.seamlessaccess.org/thiss.js"></script>
    <style type="text/css">

        .d-flex {
          display: -ms-flexbox!important;
          display: flex!important;
        }
        .justify-content-center {
          justify-content: center !important;
        }
        .align-items-center {
          align-items: center !important;
        }
        .text-truncate {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        #bankid-button-wrapper {
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: center;
        }
        button {
          &.bankid-button, &.bankid-button:active {
            width: 340px;
            padding: 0;
            background-color: #183e4f;
            color: #ffffff;
            border-radius: 3px;
            border: none;
            box-shadow: 0 0 0 5px #216e93;
            cursor: pointer;
          }

          &.bankid-button:hover, &.bankid-button:focus, &.bankid-button:active {
            outline: none;
            box-shadow: 0 0 0 1px, 0 0 0 4px #216e93;
          }

          .bankid-button  {
            display: flex;
            padding: 2px;
          }
          .bankid-button-logo-wrap {
            width: 50px;
            height: 100%;
            border-right: 1px solid #ffffff;
          }

          .bankid-button-logo {
            width: 50px;
          }

          .bankid-button-text {
            padding-left: 10px;
            text-align: center;
            width: 85%;
            color: inherit;
          }

          .bankid-button-text-primary, .bankid-button-text-secondary, .bankid-access-text {
            font-family: 'Libre Franklin', Arial, sans-serif;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.4;
            letter-spacing: normal;
          }

          .bankid-button-text-primary {
            font-size: 14px;
            font-weight: 700;
          }

          .bankid-button-text-secondary {
            /* Zep */
            font-size: 13px;
            font-weight: normal;
          }
        }
    </style>
    {% endblock %}

    {% block body %}
          <h1 id="main-title">{{ gettext("eduSign - Secure digital signature") }}</h1>
          <div id="login"></div>
          <div id="bankid-button-wrapper">
              <button class="bankid-button" type="button" id="bankid-button">
                  <div class="bankid-button">
                      <div class="bankid-button-logo-wrap">
                          <div class="bankid-button-logo">
                              {% include 'BankID_logo_neg.svg' %}
                          </div>
                      </div>
                      <div class="d-flex justify-content-center align-items-center text-truncate bankid-button-text">
                          <div class="text-truncate">
                              <div class="bankid-button-text-primary text-truncate" id="headline"></div>
                              <div class="bankid-button-text-primary text-truncate" id="title">{{ gettext("Access with BankID") }}</div>
                          </div>
                      </div>
                  </div>
              </button>
          </div>
          <div id="md-content">
            {{ body | markdown }}
          </div>
    {% endblock %}

    {% block script_bottom %}
          document.getElementById('bankid-button').addEventListener('click', e => {
            window.location.href = '{{ login_initiator_bankid }}';
          });

          thiss.DiscoveryComponent({ loginInitiatorURL: '{{ login_initiator }}' }).render('#login');
    {% endblock %}

