{% extends "base-md-template.jinja2" %}

    {% block script %}
      <style type="text/css">
        div#login {
          display: flex;
          justify-content: center;
          margin-bottom: 50px;
        }
        div#button-wrapper {
          width: fit-content;
          height: fit-content;
          padding: 4px;
          background-color: rgb(33, 110, 147);
          border-radius: 7px;
          cursor: pointer;
          font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
          font-weight: 700;
          font-size: 1rem;
        }
        div#inner-button-wrapper {
          width: fit-content;
          height: fit-content;
          padding: 1px;
          background-color: rgb(33, 110, 147);
          border-radius: 3px;
        }
        div#inner-button-wrapper:hover {
          background-color: #fff;rgb(240, 240, 240)
        }
        a#myc-button {
          text-decoration: none;
          color: rgb(240, 240, 240);
          background-color: rgb(33, 110, 147);
          display: inline-block;
          padding: 0.7rem 1.7rem;
          border-radius: 3px;
        }
      </style>
    {% endblock %}

    {% block body %}
          <h1 id="main-title">{{ gettext("eduSign - Secure digital signature") }}</h1>
          <div id="login">
            <div id="button-wrapper">
              <div id="inner-button-wrapper">
                <a id="myc-button" href="{{ login_initiator }}">
                  {{ gettext("Login with MyAcademicID") }}
                </a>
              </div>
            </div>
          </div>
          <div id="md-content">
            {{ body | markdown }}
          </div>
    {% endblock %}
