{% extends "base-template.jinja2" %}

    {%block body %}
        <div id="title">
            {% trans %}You are not allowed to create sign requests at eduSign{% endtrans %}
        </div>
        <div id="message">
            {% trans mail=mail %}Your email address "{{ mail }}" does not belong to a whitelisted organization{% endtrans %}
        </div>
    {% endblock %}

