<html>
<head>
</head>
<body>

<p>
{% trans inviter_name=inviter_name, inviter_email=inviter_email, document_name=document_name %}
This is a reminder that you have been invited by {{ inviter_name }} &lt;{{ inviter_email }}&gt;,
to digitally sign a document named "{{document_name}}".
{% endtrans %}
</p>

{% if text != "" %}

<p>
{% trans inviter_name=inviter_name %}
Message from {{ inviter_name }}:
{% endtrans %}
</p>

<p>
{{ text }}
</p>

{% endif %}

<p>
{% trans %}
Follow this link to preview and sign the document:
{% endtrans %}
</p>

<p>
<a href="{{ invited_link }}">{{ invited_link }}</a>
</p>

<p>
{% trans %}
This is an email from eduSign, a service for secure digital signatures, developed by Sunet.
{% endtrans %}
</p>
</body>
</html>
