{% trans inviter_name_and_email=inviter_name_and_email, document_name=document_name %}

This is to remind you that you have been invited by {{ inviter_name_and_email }}
to digitally sign a document named {{ document_name }}.

You can follow this link to do so:

{% endtrans %}

{{ invited_link }}

{% if text != "" %}

{% trans inviter_name=inviter_name %}

Message from {{ inviter_name }}:

{% endtrans %}

{{ text }}

{% endif %}
