{% trans invited_link=invited_link, inviter_name=inviter_name, document_name=document_name %}

This is to remind you that you have been invited by {{ inviter_name }}
to digitally sign a document named {{ document_name }}.

You can follow this link to do so:

{{ invited_link }}

{% endtrans %}
