
{% trans inviter_name=inviter_name, inviter_email=inviter_email, document_name=document_name %}
This is a reminder that you have been invited by {{ inviter_name }} <{{ inviter_email }}>,
to digitally sign a document named "{{document_name}}".
{% endtrans %}
{% if text != "" %}
{% trans inviter_name=inviter_name %}
Message from {{ inviter_name }}:
{% endtrans %}

{{ text }}

{% endif %}
{% trans %}
Follow this link to preview and sign the document:
{% endtrans %}

{{ invited_link }}

{% trans %}
This is an email from eduSign, a service for secure digital signatures, developed by Sunet.
{% endtrans %}
