<html>
<head>
</head>
<body>

<p>
{% trans document_name=document_name %}
The document "{{document_name}}" is now signed by all parties.
{% endtrans %}
</p>

<p>
{% trans %}
The person who invited you chose not to send out the signed document automatically from eduSign.
{% endtrans %}
</p>

<p>
{% trans %}
This is an email from eduSign, a service for secure digital signatures, developed by Sunet.
{% endtrans %}
</p>
</body>
</html>

