<html>
<head>
</head>
<body>
{% trans document_name=document_name %}

<p>A document named {{ document_name }} has been signed by all invited parties.</p>
<p>You can find a copy attached.</p>

{% endtrans %}
</body>
</html>


