
{% trans document_name=document_name %}
The document "{{document_name}}" is now signed by all parties.
{% endtrans %}

{% trans %}
The person who invited you chose not to send out the signed document automatically from eduSign.
{% endtrans %}

{% trans %}
This is an email from eduSign, a service for secure digital signatures, developed by Sunet.
{% endtrans %}

