{% extends "base-template.jinja2" %}

    {%block body %}
        <div id="title">
          {{ title }}
        </div>
        <div id="message">
          {{ message }}
        </div>
        <div id="back-button-wrapper">
            <a href="{{ back_link }}" class="back-button">{{ back_button_text }}</a>
        </div>
    {% endblock %}
