{% extends "base-template.jinja2" %}

    {%block body %}
        <div id="title">
          {{ title }}
        </div>
        <div id="message">
          {{ message }}
        </div>
    {% endblock %}
