{% extends "base-template.jinja2" %}

    {%block body %}
        <div id="title">
            {% trans %}Finish Signing{% endtrans %}
        </div>
        <div id="message">
            {% trans %}Press the button below to finish the signing process{% endtrans %}
        </div>
        <form id="form" method="POST" action={{ destinationUrl }}>
          <input type="hidden" name="Binding" value={{ binding }} />
          <input type="hidden" name="RelayState" value={{ relayState }} />
          <input type="hidden" name="EidSignRequest" value={{ signRequest }} />
          <button type="submit">{% trans %}Finish Signing{% endtrans %}</button>
        </form>
    {% endblock %}
